body {
  background: url("https://www.wallpapertip.com/wmimgs/46-466015_anime-girl-blue-background.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
